.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre4 {
    display: block
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre8 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 0
    }
.calibre9 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always
    }
.calibre10 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace
    }
.calibre12 {
    height: auto;
    width: auto
    }
.calibre13 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre14 {
    height: auto;
    width: 50%
    }
.calibre15 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre16 {
    display: block;
    list-style-type: decimal-leading-zero;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre17 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre18 {
    display: table-row;
    vertical-align: middle
    }
.calibre19 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: auto
    }
.calibre20 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: middle
    }
.calibre21 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    font-size: 0.75em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    page-break-inside: avoid;
    text-align: left;
    vertical-align: auto
    }
.calibre22 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre23 {
    display: table-row;
    vertical-align: inherit
    }
.calibre24 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre25 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: inherit
    }
.calibre26 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    line-height: 1.2
    }
.calibre27 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 1em
    }
.calibre28 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre29 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre30 {
    height: auto;
    width: 28%
    }
.calibre31 {
    height: auto;
    width: 80%
    }
.calibre32 {
    height: auto;
    width: 33%
    }
.calibre33 {
    height: auto;
    width: 85%
    }
.calibre34 {
    height: auto;
    width: 90%
    }
.calibre35 {
    height: auto;
    width: 75%
    }
.calibre36 {
    height: auto;
    width: 60%
    }
.calibre37 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre38 {
    height: auto;
    width: 52%
    }
.calibre39 {
    height: auto;
    width: 70%
    }
.calibre40 {
    height: auto;
    width: 62%
    }
.calibre41 {
    height: auto;
    width: 65%
    }
.calibre42 {
    height: auto;
    width: 45%
    }
.calibre43 {
    height: auto;
    width: 37%
    }
.calibre44 {
    height: auto;
    width: 55%
    }
.calibre45 {
    height: auto;
    width: 22%
    }
.calibre46 {
    height: auto;
    width: 30%
    }
.calibre47 {
    height: auto;
    width: 32%
    }
.calibre48 {
    height: auto;
    width: 27%
    }
.calibre49 {
    height: auto;
    width: 46%
    }
.calibre50 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always
    }
.calibre51 {
    display: list-item;
    list-style-type: none
    }
.dai_ma_wu_xing_hao {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.75em;
    margin-bottom: 1.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    white-space: pre-wrap
    }
.di_1ji_wu_xu_lie_biao {
    display: list-item
    }
.not-in-toc {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always
    }
.table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-indent: 0
    }
.toc-level {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.toc-level1 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
.toc-level2 {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 4em
    }
.zhu_shi_bian_hao {
    font-size: 0.875em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    text-decoration: none;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_bian_hao_xia {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_nei_rong {
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 4px;
    display: block;
    font-size: 0.75em;
    margin-bottom: 1.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-indent: 0
    }
.pcalibre:hover {
    color: red
    }
